html{
    color:black !important;
    font-weight: unset !important;
}
.mn-content, body, html{
    font-size: 16px !important;
}
nav {
    padding: 0;
}
div.menu{
    margin: 0 !important;
    border-radius: 0px;
}
#info{
    background-color: rgba(0,0,0,0.75);
}
#header-logo{
    height: 50px;
    margin-bottom: -22px;
    margin-right: 50px;
}
.menu-item{
    margin-top: 0px;
}
.dropdown-button{
    text-decoration: none;
    color: black;
    background-color: transparent;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    display: flex;
    outline: 0;
    padding: 0 1rem;
}
.page-title{
    text-transform: none;
}
main#feature{
    background-color: #006298 !important;
}
.feature-item{
    padding: 5rem 0;
}
.page-footer{
    background-color: #99c0d6;
    padding-left: 25px !important;
    height: auto;
}
#footer-logo{
    height: 40px;
    margin-top: 6px;
}
.parallax-container {
    height: 800px;
}